page-termsandconditions {
    p {
        font-family: Roboto;
        font-size: 15px;
        line-height: 21px;
    }
    ion-content.content.content-ios {
        background: #fff !important;
    }

    ion-content.content.content-md {
        background: #fff !important;
    }
    .toolbar-title.toolbar-title-ios {
        font-size: 16px;
    }
}
.justify {
    text-align: justify;
}